h2 {
	text-align:center;
}
	
a {
		font-size:20px;
		text-decoration:none;
		margin:10px 20px 10px 0px;
		display:inline-block;
		background:#3BA7E1;
		color:#fff;
		padding:10px 20px;
		box-shadow:0px 5px 0px 0PX #1D64A6;
		text-align:center;
	}
	
a:hover {
	box-shadow:0px 2px 0px 0PX #1D64A6;
}

a:active {
	box-shadow:none;
}

 form {
	 width:25%;
	 border:1px solid #CCC;
	 margin:20px;
	 padding:20px;
 }

label {
	font-size:12px;
}

textarea {
	resize:vertical;
	max-height:300px;
	min-height:100px;
}




input, textarea {
	margin-bottom:20px;
	width:100%
	padding:10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	border:1px solid:#CCC;
}

input:focus,textarea:focus {
	border:1px solid #1668C4;
}

unput[type="submit"] {
	margin-bottom:0;
}





